<div class="info-header" data-parallax="true" style="background-image: url('../assets/img/daniel-olahh.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Information</h1>
      <h3>See more below</h3>
      <br>
      <a (click)="scroll(first_information)" class="btn btn-outline-neutral btn-round smooth-goto"><i class="fa fa-chevron-down"></i></a>
    </div>
  </div>
</div>
<div class="main">
  <br>
  <div class="nav-tabs-navigation" #first_information>
    <div class="nav-tabs-wrapper section-with-space">
      <ngb-tabset [justify]="'center'">
        <ngb-tab title="Safety Tips">
          <ng-template ngbTabContent >
            <div class="row" id="work">
              <div class="col-md-6 ml-auto mr-auto">
                <div class="container">
                  <h1 class="title">Safety Tips</h1>
                  <small>By Constable Holle</small>
                </div>
              </div>
            </div>

            <div class="row" id="work">
              <div class="col-md-6 ml-auto mr-auto">
                <div class="container">
                  <h4>Three Basic Rules</h4>
                  <br>
                  <ul class="list-unstyled text-left">
                    <li>1) Stay alert.</li>
                    <li>2) Keep your mind on your surroundings, who’s in front of you and who’s behind you. Don’t get distracted.</li>
                    <li>3) Walk purposefully, stand tall, and make eye contact with people around you.</li>
                    <li>4) TRUST YOUR INSTINCTS. If you feel uncomfortable in a situation, leave.</li>
                  </ul>
                  <hr>

                  <h4>Going Away</h4>
                  <br>
                  <ul class="list-unstyled text-left">
                    <li>1) Make your home appear occupied when you go out.</li>
                    <li>2) Leave lights on and the radio playing.</li>
                    <li>3) Keep your garage door closed and locked.</li>
                    <li>4) Use timing devices to turn inside lights on and off.</li>
                    <li>5) If you will be gone several days, arrange to have the mail and papers stopped or picked up.
                      Half of all home burglaries occur during the day when alert neighbors could spot and report the
                      thieves.</li>
                    <li>6) <a href=""><strong>Request a vacation watch</strong></a> from our agency</li>
                  </ul>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Warrant Process">
          <ng-template ngbTabContent >
            <div class="row" id="warrant">
              <div class="col-md-6 ml-auto mr-auto">
                <div class="container">
                  <h1 class="title">Warrant Process</h1>
                  <h4>Step 1</h4>
                  <p>A constable is a person holding a particular office, most commonly in criminal law enforcement.
                    The office of constable can vary significantly in different jurisdictions. A constable is
                    commonly the rank of an officer within the police.</p>
                  <h4>Step 2</h4>
                  <p>A constable is a person holding a particular office, most commonly in criminal law enforcement.
                    The office of constable can vary significantly in different jurisdictions. A constable is
                    commonly the rank of an officer within the police.</p>
                  <h4>Step 3</h4>
                  <p>A constable is a person holding a particular office, most commonly in criminal law enforcement.
                    The office of constable can vary significantly in different jurisdictions. A constable is
                    commonly the rank of an officer within the police.</p>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Eviction Process">
          <ng-template ngbTabContent >
            <div class="row" id="eviction">
              <div class="col-md-6 ml-auto mr-auto">
                <div class="container">
                  <h1 class="title">Eviction Process</h1>
                  <h4>Step 1</h4>
                  <p>A constable is a person holding a particular office, most commonly in criminal law enforcement.
                    The office of constable can vary significantly in different jurisdictions. A constable is
                    commonly the rank of an officer within the police.</p>
                  <h4>Step 2</h4>
                  <p>A constable is a person holding a particular office, most commonly in criminal law enforcement.
                    The office of constable can vary significantly in different jurisdictions. A constable is
                    commonly the rank of an officer within the police.</p>
                  <h4>Step 3</h4>
                  <p>A constable is a person holding a particular office, most commonly in criminal law enforcement.
                    The office of constable can vary significantly in different jurisdictions. A constable is
                    commonly the rank of an officer within the police.</p>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Small Claims Process">
          <ng-template ngbTabContent >
            <div class="row" id="eviction">
              <div class="col-md-6 ml-auto mr-auto">
                <div class="container">
                  <h1 class="title">Small Claims Process</h1>
                  <h4>Step 1</h4>
                  <p>A constable is a person holding a particular office, most commonly in criminal law enforcement.
                    The office of constable can vary significantly in different jurisdictions. A constable is
                    commonly the rank of an officer within the police.</p>
                  <h4>Step 2</h4>
                  <p>A constable is a person holding a particular office, most commonly in criminal law enforcement.
                    The office of constable can vary significantly in different jurisdictions. A constable is
                    commonly the rank of an officer within the police.</p>
                  <h4>Step 3</h4>
                  <p>A constable is a person holding a particular office, most commonly in criminal law enforcement.
                    The office of constable can vary significantly in different jurisdictions. A constable is
                    commonly the rank of an officer within the police.</p>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Precinct Map">
          <ng-template ngbTabContent>
            <h1>Precinct Maps</h1>
            <small>Click maps to view</small>
            <br>
            <div class="row ml-auto mr-auto" id="precinctmaps">
              <div class="col-md-5 col-sm-8">
                <h3 class="text-center">County Precinct Map</h3>
                <br>
                <a href="../../assets/pdf/Precinct2012_JPOffices.pdf" target="_blank"><img src="../../assets/img/Precinct2012_JPOffices.png" class="card img-thumbnail"></a>
              </div>
              <div class="col-md-5 col-sm-8">
                <h3 class="text-center">City Precinct Map</h3>
                <br>
                <a href="../../assets/pdf/CityBrenham_JPAdopt.pdf" target="_blank"><img src="../../assets/img/CityBrenham_JPAdopt.png" class="img-thumbnail card"></a>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
