<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/railroad.jpg');">
    <div class="filter"></div>
  </div>
    <div class="section profile-content">
      <div class="container">
        <div class="owner">
          <div class="avatar">
            <img src="../../../assets/img/kenHollepic.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
          </div>
          <div class="name">
            <h4 class="title">Ken Holle<br /></h4>
            <h6 class="description">Washington County Precinct 1 Constable</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <p>A constable is a person holding a particular office, most commonly in criminal law enforcement.
              The office of constable can vary significantly in different jurisdictions. A constable is
              commonly the rank of an officer within the police.</p>
          </div>
        </div>
        <br/>
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ngb-tabset [justify]="'center'">
              <ngb-tab title="Work">
                <ng-template ngbTabContent >
                  <div class="row" id="work">
                    <div class="col-md-4">
                      <img src="../../../assets/img/BradsCar.JPG" class="img-shadow img-rounded">
                    </div>
                    <div class="col-md-6 ml-auto mr-auto">
                      <div class="container">
                        <p>A constable is a person holding a particular office, most commonly in criminal law enforcement.
                          The office of constable can vary significantly in different jurisdictions. A constable is
                          commonly the rank of an officer within the police.</p>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Family">
                <ng-template ngbTabContent>
                  <div class="row" id="family">
                    <div class="col-md-4">
                      <img src="../../../assets/img/faces/ChrisPic.JPG" class="img-shadow img-rounded">
                    </div>
                    <div class="col-md-6 ml-auto mr-auto">
                      <div class="container">
                        <p>blah blah blah A constable is a person holding a particular office, most commonly in criminal law enforcement.
                          The office of constable can vary significantly in different jurisdictions. A constable is
                          commonly the rank of an officer within the police.</p>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
</div>