<div class="header contact-header" data-parallax="true" style="background-image: url('../assets/img/login-image.jpg'); background-size: cover;">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Get in touch</h1>
      <h3>You can find contact information below.</h3>
      <br >
      <a (click)="scroll(first_contact)" class="btn btn-outline-neutral btn-round smooth-goto"><i class="fa fa-chevron-down"></i></a>
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center" #first_contact>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Constable's Office</h2>
          <h5 class="description">Contact Information</h5>
          <br>
        </div>
      </div>
      <br/><br/>
      <div class="row">
        <div class="col-md-3">
          <div class="info">
            <div class="description">
              <h4 class="info-title">Precinct 1</h4>
              <br>
              <h6 class="info-title">1305 E. Bluebell Rd</h6>
              <p class="font-weight-bold">Ken Holle</p>
              <p>Constable</p>
              <p>(979)251-2577</p>
              <p>constableholle@gmail.com</p>
            </div>
          </div>
          <br>
          <div class="info">
            <div class="description">
              <p class="font-weight-bold">Brad Kuecker</p>
              <p>Deputy Constable</p>
              <p>(979)551-5298</p>
              <p>constableholle@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="description">
              <h4 class="info-title">Precinct 2</h4>
              <br>
              <h6 class="info-title">1305 E. Bluebell Rd</h6>
              <p class="font-weight-bold">Constable</p>
              <p>Butch Faske</p>
              <p>(###)###-####</p>
              <p>xxxxxxxxx@gmail.com</p>
            </div>
          </div>
          <br>
          <div class="info">
            <div class="description">
              <p class="font-weight-bold">Deputy Constable</p>
              <p>William Shepherd</p>
              <p>(###)###-####</p>
              <p>xxxxxxxx@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="description">
              <h4 class="info-title">Precinct 3</h4>
              <br>
              <h6 class="info-title">1305 E. Bluebell Rd</h6>
              <p class="font-weight-bold">Constable</p>
              <p>Ken Holle</p>
              <p>(###)###-####</p>
              <p>xxxxxxxx@gmail.com</p>
            </div>
          </div>
          <br>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="description">
              <h4 class="info-title">Precinct 4</h4>
              <br>
              <h6 class="info-title">Vacant</h6>
              <a href="#">Click to learn more filling this position</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Other Offices</h2>
          <h5 class="description">Contact Information</h5>
          <br>
        </div>
      </div>
      <br/><br/>
      <div class="row">
        <div class="col-md-3">
          <div class="info">
            <div class="description">
              <h4 class="info-title">Justice of the Peace 1</h4>
              <br>
              <h6 class="info-title">1305 E. Bluebell Rd</h6>
              <p class="font-weight-bold"><strong class="">Justice of the Peace</strong></p>
              <p>Doug Zwiener</p>
              <p>(979)251-2577</p>
              <p>constableholle@gmail.com</p>
            </div>
          </div>
          <br>
          <div class="info">
            <div class="description">
              <p class="font-weight-bold"><strong>Deputy Constable</strong></p>
              <p>Brad Kuecker</p>
              <p>(979)551-5298</p>
              <p>constableholle@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">Need a Website?</h2>
      <div class="row">
        <div class="container">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/ChrisPic.JPG">
            </div>
            <div class="col-md-4 container">
                <div class="author">
                  <h4 class="card-title">Christopher Holle</h4>
                  <h6 class="card-category">Developer</h6>
                </div>
              <p class="card-description text-center">
                 Need a badass software developer to get work done quick? I'm your guy, visit my portfolio to see more of my work and feel free to contact me. Contact info on my personal website.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="https://www.facebook.com/christopher.holle.79" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-facebook"></i></a>
              <a href="https://cholle13.github.io" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-globe"></i></a>
              <a href="https://www.linkedin.com/in/chris-holle/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center">Message Constable Holle</h2>
          <form class="contact-form">
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                  <input type="text" class="form-control" placeholder="Name">
                </div>
              </div>
              <div class="col-md-6">
                <label>Email</label>
                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                  <input type="text" class="form-control" placeholder="Email">
                </div>
              </div>
            </div>
            <label>Message</label>
            <textarea class="form-control" rows="4" placeholder="Enter message here..."></textarea>
            <div class="row">
              <div class="col-md-4 mr-auto ml-auto">
                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

