<head>
    <link href="../../../assets/x_rotating_card_v1.4/css/bootstrap.css" rel="stylesheet" />
    <link href="../../../assets/x_rotating_card_v1.4/css/rotating-card.css" rel="stylesheet" />
</head>
<div class="section section-buttons">
    <div class="container">
        <div class="tim-title text-center">
            <h2>What is a Constable?</h2>
            <div id="buttons">
                <div class="tim-title">
                    <div class="row">
                        <h3 class="col-md-4"><strong>Mission Statement:</strong></h3>
                        <p class="col-md-6">The <strong>Texas</strong> constable is provided for in the Texas Constitution of 1876 (Article 5, Section 18),
                            which calls for the election of a constable in each Texas precinct of a county, and counties may have between
                            one and eight precincts each depending on their population. The term of office for Texas constables is four
                            years. However, when vacancies arise, the commissioner’s court of the respective county has the authority to
                            appoint a replacement to serve out the remaining term. If no person is elected and qualified under law to fill
                            an office of constable for seven consecutive years, the respective commissioner's court may declare the office
                            dormant and it may not be filled by election or appointment. However, the commissioner's court may reinstate
                            the office by a majority vote or by calling an election where a majority of precinct voters approve it.</p>
                    </div>
                    <hr>
                    <div class="row">
                        <h3 class="col-md-4"><strong>What are Constable Holle's Duties in Brenham?</strong></h3>
                        <p class="col-md-6">The <strong>Texas</strong> constable is provided for in the Texas Constitution of 1876 (Article 5, Section 18),
                            which calls for the election of a constable in each Texas precinct of a county, and counties may have between
                            one and eight precincts each depending on their population.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-with-space section-dark-blue" style="background-image: url('../assets/img/copcar.jpg')">
    <div class="container">
        <div class="tim-title text-center">
            <h2>Meet the Crew</h2>
        </div>
        <div class="about-card-container">
            <div class="col-md-5 col-md-offset-1 col-sm-6">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="../../../assets/x_rotating_card_v1.4/images/rotating_card_thumb.png"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" src="../assets/img/kenHollepic.jpg"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Ken Holle</h3>
                                    <p class="profession">Constable Precinct 1</p>
                                    <p class="text-center">Years serving: x <br>Constable since: 2012 <br>Building a safe community for you</p>
                                </div>
                                <div class="footer">
                                    <button class="btn btn-simple" onclick="rotateCard(this)">
                                        <i class="fa fa-mail-forward"></i> Hover to view more
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Job Description</h4>
                                    <p class="text-center">The Texas constable is provided for in the Texas Constitution of 1876 (Article 5, Section 18), which calls for the election of a constable in each Texas precinct of a county, and counties may have between one and eight precincts each depending on their population.</p>

                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>1</h4>
                                            <p>
                                                Precinct
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>8,492</h4>
                                            <p>
                                                Serving
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>15 years</h4>
                                            <p>
                                                Experience
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="footer">
                                <div class="social-links text-center">
                                    <small>Phone: (###)###-####</small>
                                    <br>
                                    <small>Email: constableholle@gmail.com</small>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->

            <div class="col-md-5 col-sm-6">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="../../../assets/x_rotating_card_v1.4/images/rotating_card_thumb.png"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" src="../assets/img/placeholder.jpg"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Brad Kuecker</h3>
                                    <p class="profession">Deputy Constable Precinct 1</p>
                                    <p class="text-center">Years serving: x <br>Constable since: 2012 <br>Building a safe community for you</p>
                                </div>
                                <div class="footer">
                                    <button class="btn btn-simple" onclick="rotateCard(this)">
                                        <i class="fa fa-mail-forward"></i> Hover to view more
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Job Description</h4>
                                    <p class="text-center">The Texas constable is provided for in the Texas Constitution of 1876 (Article 5, Section 18), which calls for the election of a constable in each Texas precinct of a county, and counties may have between one and eight precincts each depending on their population.</p>

                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>1</h4>
                                            <p>
                                                Precinct
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>8,492</h4>
                                            <p>
                                                Serving
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>15 years</h4>
                                            <p>
                                                Experience
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->
        </div>
    </div>
</div>

<script type="text/javascript">
    $().ready(function(){
        $('[rel="tooltip"]').tooltip();

    });

    function rotateCard(btn){
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if($card.hasClass('hover')){
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    }
</script>

