<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/railroad.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h4 class="title">Accomplishments<br /></h4>
          <h6 class="description">Washington County Precinct 1 Constable</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p>A constable is a person holding a particular office, most commonly in criminal law enforcement.
            The office of constable can vary significantly in different jurisdictions. A constable is
            commonly the rank of an officer within the police.</p>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>