<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/woodbg.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="ml-auto mr-auto">
                        <img src="assets/img/kenHollepic.jpg" alt="Circle Image" class="img-circle profile-picture img-no-padding img-responsive">
                    </div>
                    <h1 class="presentation-title">Constable Ken Holle</h1>
                </div>

                <h2 class="presentation-subtitle text-center">Washington County Constable Precinct 1</h2>
            </div>
        </div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by Christopher Holle</h6>
    </div>
    <div class="main">
        <app-components></app-components>
    </div>
</div>
