<footer class="footer">
    <div class="container">
        <div class="row section-with-space">
            <div class="col-md-3 col-sm-3 col-6">
                <h4>Important Contacts</h4>
                <br>
                <p>Ken Holle</p>
                <p>(###)###-####</p>
                <p>constableholle@gmail.com</p>
                <hr>
                <p>Dispatch</p>
                <p>(###)###-####</p>
                <hr>
                <p>Deputy</p>
                <p>(###)###-####</p>
            </div>
            <div class="col-md-2 col-sm-3 col-6">
                <h4></h4>
                <br>
                <br>
                <p>Animal Control</p>
                <p>(###)###-####</p>
                <hr>
                <p>Game Warden</p>
                <p>(###)###-####</p>
            </div>
            <div class="col-md-3 col-sm-3 col-6">
                <h4>Important Links</h4>
                <br>
                <nav class="footer-nav">
                    <ul>
                        <a href="#">Report an accident</a>
                        <a href="#">Dispatch</a>
                        <a href="#">Sheriff's Office</a>
                        <a href="#">Warrants search</a>
                        <a href="#">Blah Blah</a>
                    </ul>
                </nav>

            </div>
            <div class="col-md-3 col-sm-3 col-6">
                <h4>Something useful</h4>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://cholle13.github.io">Christopher Holle</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Christopher Holle
                </span>
            </div>
        </div>
    </div>
</footer>
